.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
    margin-top: 15pt;
    margin-bottom: -15pt;
}

.page-header,
.post-header {
    margin: 24px auto var(--content-gap) auto;
    margin-top: 30pt;
    margin-bottom: 22pt;
}

.dark {
    --theme: rgb(25, 26, 28);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
}